section.braseva#braseva
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Braseva Media Group&nbsp;...

  .flex.flex--center
    .col-22
      p.outdented Development of a system that generate the payment per fortnight that each employee must to receive due to their work hours. The information of the check-in & check-out of each employee is provided through a biometric scanner.
