section.gameloft#gameloft
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Gameloft&nbsp;...

  .flex.flex--center
    .col-22
      p.outdented Development of new shops to different carriers around Latin America and North America. Maintain, add features and fixing bugs to the shops. Payment integrations.
