section.about#about
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Software Engineer&nbsp;...

  .flex.flex--space-around
    .col-1
      .video-strip
      //.flex-video <iframe width="100%" height="200px" src="https://www.youtube.com/embed/nupNrEt2zPs" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p ...with around +2 years experience in the field, making websites specifically in PHP format and is learning how to do some cool stuff's with Rails. He've been working in some places like...
