section.distrito#distritoweb
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Distrito Web&nbsp;...

  .flex.flex--center
    .col-22
      p Development of a self-administered E-commerce platform (Distrito Shop v1.0). Developer from scratch using PHP as main programming language.
